.hidden {
    display: none;
}

.profile-dropdown {
    border: 2px solid black;
    border-radius: .65rem;
    position: absolute;
    top: 3rem;
    right: .1rem;
    width: 11rem;
    align-content: center;
    background-color: white;
}
