
.filter-buttons {
    display: flex;
    flex-direction: row;
    width: 15rem;
    justify-content: space-evenly;
}

.num-results {
    display: flex;
    justify-content: center;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
}

.search-filter-container {

    display: flex;

    flex-direction: column;
    width: 20rem;

    height: 9rem;
    border: 1px black solid;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.search-filter-container > label > span {
    margin-right: 5px;
}

/* .search-filter-container > label > select {
    height: 1.5rem;
} */
